.manage-quiz-container{
    .manage-quiz-title{
        font-weight: 600;
        font-size: 35px;
    }
    .manage-quiz-add{
        padding: 20px;
    }

    .list-quiz{
        padding: 20px;
    }
}