.manage-quiz-container{

    .accordion{

        .accordion-button{
            background-color: #FCE35E66;
        }

        .accordion-body{
            background-color: #FCE35E52;
        }
    }

    .manage-quiz-add{
        padding: 20px;
    }

    .list-quiz{
        padding: 20px;
        table th, table td {
            background-color: rgba(255, 255, 255, 0.5);
        }
    }
}