.list-quiz-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-left: 15px;
    .card-img-top{
        max-height: 200px;
        max-width: 100%;
    }
    .card-text{
        height: 100px;
    }
}