.admin-container{
    background-image: linear-gradient(200deg,#8F00F0,#F92D88,#00DED3,#6F00F2);
    display: flex;
    .admin-sidebar{

    }
    .admin-content {
        width: 100%;
        overflow: hidden;
        .admin-header{
            height: 40px;          
        }
        .admin-main {
            height: calc(100vh - 40px);
        }
    }

}