.admin-container{
    display: flex;
    .admin-sidebar{

    }
    .admin-content {
        width: 100%;
        overflow: hidden;
        .admin-header{
            height: 40px;          
        }
        .admin-main {
            height: calc(100vh - 40px);
        }
    }

}